<div style="position: absolute; top: 54px; left: 0; right: 0; bottom: 70px;">
<iframe style="display: block; width: 100%; height: 100%; border: none;" src="https://app.powerbi.com/view?r=eyJrIjoiMmIzY2JjNTAtM2JlMy00OTJmLWE1ZWYtM2M5Yjg4NzBmNTVhIiwidCI6ImEzOGZmODcwLTljODYtNDNkZi05ZTZiLTZiMDFmMjA2YTM5OCIsImMiOjN9"></iframe>
</div>